/*temporario apenas identificar oq estou fazendo*/
html, body, .capa{
                /*height: 100%;*/
                overflow: auto;
                /*margin-bottom:150px;*/
}


/*DEFINIDO O FUNDO DO SITE*/

body{
    
    background: url('../img/predio.jpg');
/*DEFINIR QUE O BACKGROUND REPITA DE UMA FORMA ORDENADA*/
    background-attachment: fixed;
    font-family: arial,Helvetica;
    overflow-x:hidden;
     

}

.capa{
    margin-top: 15%;
    width: 100%;
    margin-bottom:150px;
    
}
.texto-capa{
    text-align: center;
    color: white;
    margin-left: 1.5%;
    vertical-align: middle;
    
}
.texto-capa h1{
  font-size: 65px; 
  font-weight: 900;
  margin-bottom:50px;
  color: white;
  
}
/*texto da capa*/


/*formatando botao capa*/

/*DEFENINDO A CONFIGURAÇÃO DO BOTAO, A COR DAS LETRAS, O FORMATO DO BOTAO, O POSICIONAMENTO*/
 .btn  {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    margin: 0px 15px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
}

/*DEFINIDO A COR DO FUNDO DO BOTAO*/
.btn-preto{

    background:#4b4444;
}

/*DEFENINDO A COR DO BOTAO AO PASSAR O MOUSE EM CIMA*/
.btn-preto:hover {
    background-color: white;
    color: black;
}


/*=======================================================MENU==================================*/


/*DEFININDO A ALTURA DO LOGO*/
.navbar-brand{
    padding: 5px 15px;
}

/*LOGO HEADER*/
.img-logo{
    height: 40px;
    width: 132px;
    display:block;
    background: url('../img/cloud-logo.png') no-repeat;
    background-size: contain;
    color: transparent;

}

nav.navbar-transparente{
    
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
    border: none;
}

/*SINAL > SELECIONA O FILHO DO LINK OU SEJA DA DIREITA PRA ESQUERDA*/
.navbar-inverse .navbar-nav>li>a, #rodape .nav a {
    color: grey;
    
}

.navbar-inverse .navbar-nav>li>a:hover, #rodape .nav a:hover {
    color: #ffffff;
    background: none;
}

/*.navbar-toggler{
    margin-left: 50%;
}*/

/*------------------------------------
NAV-BAR - BARRA DO MENU TODAS AS 
CONFIGURAÇÕES E CONFIGURAÇÕES DA BARRA
RESPONSIVA.
-------------------------------------*/



/*FORMATAÇAO DO COL-DM-6*/
.form-grid1{
    background:#303030; 
    border-radius: 5px;

}

/*rodape*/
footer{
    background: #000;
    padding: 50px, 0px, 20px, 0px;
    position: relative; 
}

.img-logo2{

    height: 50px;
    width: 130px;
    display:block;
    background: url('../img/cloud-logo.png') no-repeat;
    background-size: contain;
    color: transparent;

}

.social{
    float: right;
  
}


/*=================Definição do background da section==================================================*/
.efeitoscroll{
  background-color: white;
  
}
/*=================Definição do background da section==================================================*/

/*==============================Section do efeito scroll===============================================*/
.anime{
    max-width: 800px;
    margin: auto 200px;
}

section::after, section::before {
    content: '';
    display: table;
    clear: both;
}

.grid-text {
    width: calc(60% - 40px);
}

.grid-img {
    width: calc(40% - 40px);
}

section  > div {
   /* margin: 0 20px;*/
    float: left;
}

section img {
    /*margin-top: 20px;*/
}

.img-right {
    text-align: right;
}

.scroll{
    display: block;
    max-width: 120px;
    text-align: center;
    border: 2px solid;
    text-decoration: none;
    padding: 8px 20px 10px 20px;
    text-transform: uppercase;
    border-radius: 100px;
}

.scroll:hover {
    background: #8844EE;
    color: white;
}

.anime {
    opacity: 0;
    transform: translate3d(-100px,0,0);
    transition: .3s;
}

.anime-start {
    opacity: 1;
    transform: translate3d(0,0,0);
}

.anime{
    max-width: 800px;
	margin: 0px auto 20px auto;
}

.grid-text, .grid-img, .img-right {
	padding: 0 10px;
	float: left;
}
.grid-text {
    width: 50%;
    text-align: justify;
    
}

.grid-img {
	text-align: center;
    width: 40%;
    
}

.img-right, .grid-img {
    width: 33.3333%;
    
}

.grid-img, .img-right {
	margin-top: 20px;
    max-width: 100%;
    
}

@media screen and (max-width: 600px) {
	
	.grid-text, .grid-img, .img-right {
		width: 100%;
    }
    /*
	.grid-img, .img-right {
		display: none;
    }*/
}
/*==============================Section do efeito scroll===============================================*/


/*===============================TIPOGRAFIA=============================*/
#rodape h4{
    color:#919496;
    font-size: 12px;
    text-transform: uppercase;
}

h1{
    margin-bottom: 50px;
    letter-spacing: -0.05em;
}

/*===============================TIPOGRAFIA=============================*/

/*=======================================================================MEDIA QUERIES======================================================*/


/*xs < 768*/
@media screen and (max-width: 767px){
    /*texto da capa*/
    .texto-capa h1{
      font-size: 30px;
      
    }
    .btn-custom, .btn, .btn-lg, .btn-preto h6 {
          margin-left: 1.5%;
            font-size: 15px;
    }
    .capa{
        margin-top:45%;
        /*margin-top: 133%;*/
    }
    /*texto da capa*/
  }

   /*iphone 5/SE
  @media screen and (min-width: 320px){
   .texto-capa h1{
      font-size: 25px;
    }
}*/

/*SM*/
@media screen and (min-width: 768px){
    /*texto da capa*/
    .texto-capa h1{
      font-size: 70px;
    }
    .btn-custom, .btn, .btn-lg, .btn-preto h6 {
        margin-left: 1.5%;
       font-size: 25px;
  }
  .capa{
    margin-top:35%;
}
    /*texto da capa*/
}
/*MD*/
@media screen and (min-width: 992px){
   /*texto da capa*/
    .texto-capa h1{
      font-size: 80px;
    }
    .btn-custom, .btn, .btn-lg, .btn-preto h6 {
        margin-left: 1.5%;
        font-size: 20px;
  }
  .capa{
    margin-top:20%;
}
/*texto da capa*/
}
/*LG*/
@media screen and (min-width: 1200px){
    /*texto da capa*/ 
    .texto-capa h1{
      font-size: 100px;
    }
    .btn-custom, .btn, .btn-lg, .btn-preto h6 {
        margin-left: 1.5%;
       font-size: 20px;
  }
  .capa{
    margin-top:15%;
}
    /*texto da capa*/
}



/*===============================================================================================================*/

/*carousel*/
#carousel{
    margin: 0 -45px ;
    
}
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-caption {
    padding-bottom: 12%;
}

.carousel-caption h2 {
    font-size: 42px;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 24px;
    color: white;
}
/*==================================================================*/
#parcerias{
background-color: ;
}

#clientes {
color: white;
background-color: #1e1e1e;}
/*margin: 0 auto;
width: 50%;
}

.revs {
    padding: 50px;
   
}

.carousel-item.active {
    border:none;
    
}

.carousel-inner {
    min-height:300px;
}

/*
section .formatacao h2, h3, p, em {
    
   margin-right: -15%;
}*/

#menu {
    padding: 50px 10px;
}

.card {
    box-shadow: 2px 5px 20px #777;
}

.modal-content {
    background:#21ddfb;
}

.mn {
    color:#fff;
}


/*---------------------------
Media Queries
Carrosel das imgs
----------------------------*/
@media screen and (max-width: 767px){
    .d-block, .W-100, .carousel-inner{
        width: 150%;
}

@media screen and (min-width: 768px){
    
}
}

@media screen and (min-width: 992px){
    
}
}
@media screen and (min-width: 1200px){
  
}
}



@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);



/* ICON STYLES - ICON FROM: http://fontastic.me/
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: "untitled-font-1";
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot");
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot#iefix") format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.woff") format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.ttf") format("truetype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-open-big { display: inline-block; }

.icon-up-open-big:after {
  content: "a";
  font-size: 2.5em;
  display: block;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: black;
  transition: color .3s;
}

.icon-up-open-big:hover:after {
    color: white;   
}

.scroll-icon {
    position: absolute;
    left: 50%;
  bottom: 30px;
  padding: 0 10px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}



/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
    float: left;
}

.l-right {
    float: right;
}

.end {
    margin-top: 30px;
    font-size: 3em;
    font-weight: bold;
    opacity: 0;
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    transition: opacity, -webkit-transform 1s;
    transition: opacity, transform 1s;
    transition: opacity, transform 1s, -webkit-transform 1s;
    transition-delay: 1s;
}



/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
* {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', Arial, sans-serif;
    text-transform: uppercase;
}

html {
    font-size: 62.5%;
}

body {
    color: black;
    letter-spacing: .18em;
}

a {
    text-decoration: none;
    color: white;
}

ul, li {
    list-style-type: none;
}

*/

/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
.header-top {
    background: rgba(0, 47, 77, .3);
    height: 70px;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
    box-sizing: border-box;
}*/
/*
h1 {
    line-height: 70px;
    height: 70px;
}

h1 a {
    display: block;
    padding: 0 10px;
}*/
/*
.toggle-menu {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    top: 10px;
}

.toggle-menu i {
    position: absolute;
    display: block;
    height: 2px;
    background: white;
    width: 30px;
    left: 10px;
    transition: all .3s;
}

.toggle-menu i:nth-child(1) {
    top: 16px;
}

.toggle-menu i:nth-child(2) {
    top: 24px;
}

.toggle-menu i:nth-child(3) {
    top: 32px;
}

.open-menu i:nth-child(1) {
    top: 25px;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
    background: transparent;
}

.open-menu i:nth-child(3) {
    top: 25px;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
}

nav {
    height: 0;
    opacity: 0;
  box-sizing: border-box;
    background: rgba(0, 47, 77, .25);
    position: fixed;
    top: 70px;
    width: 100%;
  transition: all 3s;
}

.open-menu ~ nav {
    opacity: 1;
    padding: 80px 0;
    z-index: 15;
    height: calc(90vh - 70px);
}

nav ul {
    padding: 0 10px;
    display: flex;
}

nav li {
    flex: 1;
}

nav li a {
    font-size: 2em;
    display: block;
    padding: 30px;
    text-align: center;
    transition: background .3s;
}

nav li:nth-child(odd) a,
body.fp-viewing-fifthSection-1 #menu li:nth-child(5) a {
    background: #962D3E;
}

nav li:nth-child(even) a {
    background: #aa3346;
}

nav li:nth-child(odd) a:hover {
    background: #9e2f41;
}

nav li:nth-child(even) a:hover {
    background: #c53c52;
}

nav li.active a,
body.fp-viewing-fifthSection-1 #menu li:last-child a {
  background: #453659;
}
  */


/* SECTION STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section { 
    text-align: center;
  /*background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / cover;*/
}
/*
h2 {
    text-transform: lowercase;
    font-size: 4em;
    margin-bottom: 20px;
}

h3 {
    font-weight: 300;
    font-size: 2.8em;
}*/



/* SLIDENAV STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: white;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #24221F;
}



/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 767px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-top: 1px;
    }
  
  nav li a {
    font-size: 1.5em;
  }
  
  .scroll-icon {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
  
  .open-menu ~ nav {
        padding: 20px 0;
    }

    nav li a {
        padding: 3px;
    }
}